# CONFIGURATION FILE FOR APSYNSIM.

Npix = 2048 #512  # Image size (must be a power of 2)
            # Lower values speed up the program,
            # but too low values imply a more rough
            # pixelation.


nH = 10 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20  #35501 #63452 #100 # Number of hour-angle samples hetween H_0 and H_1)
         # Lower values speed up the program, but too low
         # values imply more inaccurate results.


# Image to load at start:
DefaultMod = 'BBParam.model' #'DubRadioGauss.model' #'RadioGalaxyConstNet.model' #'Nebula.model' # HOHOHO


# Array to load at start:
DefaultArray = 'RelicStart.array' #'Golay_12.array'

